.details-container {
  display: flex;
  /* justify-content: center; */
}

.img-name {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details-img{
  width: 100%;
}

.title-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flavor {
  width: 45%;
  height: 75vh;
  overflow-y: scroll;
  margin: 1%;
  padding: 1%;
  border-radius: 10px;
  box-shadow: 10px 10px 5px rgb(182, 182, 182);
}