.container {
  display:flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.img {
  width: 15vw;
  transition: .4s
}

.img:hover {
  transform: scale(108%);
  transition: .4s;
}

@media (max-width: 1000px) {
  .container{
    width: 75vw;
  }

  .img {
    width: 30vw;
  }
}