.loading-container{
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
  /* max-height: 100%;
  max-width: 100%; */
  position: relative;
}

.spinner{
  position: absolute;
  animation: spin 10s linear infinite;
  width: 100%;
}

.title{
  width: 100%;
}

@keyframes spin {
  0%{
     transform: rotate(0deg);
    }
 100%{
     transform: rotate(360deg);
    }
 }